.btn {
  background-color: #00a0d6;
  /*transition: background-color 0.5s, color 0.5s;*/
  transition: 0.4s;
  border: 1px solid;
  border-radius: 4rem;
  padding: 0.5em;
  margin: 2rem;
}

.btn:hover {
  background-color: #007da7;
  color: #e3e3e3;
  font-size: 2rem;
}